<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!-- Cadena de conexión para PostgreSQL en Render - Control Estudiantes -->
		<add name="ConexionBD"
			 connectionString="Host=dpg-d01tkd2dbo4c7394dddg-a.ohio-postgres.render.com;Port=5432;Database=sistema_ventas_qjje;Username=admin;Password=0PANPsKo1Q5dUzGoIkdzDXH8DAz8mBiH;SSL Mode=Require;Trust Server Certificate=true;"
			 providerName="Npgsql" />
	</connectionStrings>
	<appSettings>
		<add key="ExistenciaMinima" value="4" />
	</appSettings>
</configuration>
