<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!-- Cadena de conexión para PostgreSQL en Render - Control Estudiantes -->
		<add name="ConexionBD"
			 connectionString="Host=aws-0-us-east-2.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.mutfbvgcpjexvroqknmp;Password=V3nt4spr0gr4;SSL Mode=Require;Trust Server Certificate=true;"
			 providerName="Npgsql" />
	</connectionStrings>
	<appSettings>
		<add key="ExistenciaMinima" value="4" />
		<add key="ApiBaseUrl" value="https://.onrender.com/api/" />
	</appSettings>
</configuration>
